.container {
  background-color: #ededed;
  width: 400px;
  border-radius: 24px;
  position: relative;
  margin: 20px auto;
}
.progress {
  background-color: #10ADED;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-radius: inherit;
  transition: width .5s ease-out;
}
button {
  color: white;
  background-color: darkseagreen;
  border: none;
  border-radius: 2em;
  padding: 1em 2em;
  font-size: .8em;
  transform: scale(1);
  outline: none;
  cursor: pointer;
}

button:focus {
  background-color: rgb(108, 161, 108);
  transform: scale(1.05);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
}

button:active {
  background-color: rgb(100, 148, 100);
  transform: scale(.8);
  box-shadow: none;
}
button:disabled {
  background-color: rgb(211, 211, 211);
  cursor: not-allowed;
  box-shadow: none;
}